.similar-bg-container {
  background-color: #272727;
  min-height: 300px;
  max-width: 330px;
  margin: 10px;
  border-radius: 8px;
}
.similar-job-heading {
  color: #ffffff;
  font-size: 15px;
  padding-top: 10px;
  padding-left: 10px;
}
.similar-image-name-container {
  display: flex;
}
.similar-image-container {
  margin-top: 20px;
  margin-left: 10px;
}
.similar-logo {
  height: 50px;
  width: 50px;
}
.similar-name-container {
  display: flex;
  flex-direction: column;
}
.similar-rating-container {
  display: flex;
  align-items: center;
}
.similar-icon-star {
  color: gold;
  margin-left: 10px;
}
.similar-rating {
  color: #ffffff;
  line-height: 1;
  margin: 0;
  padding-left: 5px;
}
.similar-job-description {
  font-size: 15px;
  color: #ffffff;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .similar-job-description {
    font-size: 20px;
  }
  .similar-job-description-para {
    font-size: 18px;
  }
}
.similar-job-description-para {
  font-size: 15px;
  color: #ffffff;
  padding: 5px;
  font-family: 'Roboto';
}
.similar-location-icon {
  display: flex;
  align-items: center;
}
.similar-job-type-icon {
  display: flex;
  align-items: center;
}
.similar-icon {
  color: #ffffff;
  font-size: 15px;
  margin-left: 10px;
}
.similar-icon-text {
  color: #ffffff;
  font-size: 15px;
  padding-left: 10px;
}
.similar-location-type-container {
  display: flex;
}
